<!-- <section class="content-header">
      <h1 translate="oa-workOvertime.home.title">
      WorkOvertime Management
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section> -->

<div>
    <h2 translate="oa-workOvertime.home.title">Workovertime</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" ui-sref="oa-workovertime.new">
                  <span class="glyphicon glyphicon-flash"></span> <span translate="oa-workOvertime.home.createLabel">Create a new User</span>
              </button>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="oa-workOvertime.createdBy">createdBy</th>
                <th translate="oa-workOvertime.createdDate">createdDate</th>
                <th translate="oa-workOvertime.startDate">startDate</th>
                <th translate="oa-workOvertime.endDate">endDate</th>
                <th translate="oa-workOvertime.timeLength">timeLength</th>
                <th translate="oa-workOvertime.status">status</th>
                <th translate="oa-workOvertime.remark">remark</th>
                <!-- <th has-authority="ROLE_ADMIN" translate="审批"></th> -->
                <th translate="oa-workOvertime.action"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in workovertimes track by x.id">
                <td>{{x.id}}</a></td>
                <td>{{x.createdBy}}</td>
                <td>{{x.createdDate | date:'dd/MM/yy HH:mm'}}</td>
               
                <td>{{x.startDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{x.endDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{x.timeLength}}</td>
                <td ng-if="x.status==0">审批中</td>
                <td ng-if="x.status==1">通过</td>
                <td ng-if="x.status==2">驳回</td>
                <td>{{x.remark}}</td>
                <td>
                    <button has-authority="ROLE_ADMIN" type="submit" ng-click="pass({'id':x.id,'status':1})" ng-show="x.status == 0"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open" translate="oa-workOvertime.pass">Pass</span>
                    </button>
                    <button has-authority="ROLE_ADMIN" type="submit" ui-sref="oa-workovertime.update({id:x.id})" ng-show="x.status == 0"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil" translate="oa-workOvertime.notGo">Not go</span>
                    </button>
                
                    <button type="submit"
                            ui-sref="oa-workovertime-detail({id:x.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="oa-workovertime.edit({id:x.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit" 
                            ui-sref="oa-workovertime.delete({id:x.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
    
</div>
