<section class="content-header">
      <h1>
                    加班管理
      <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

<div>
    <h2 translate="pageTitle">TakeVacationDetail</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" ui-sref="oa-takeVacationDetail.new">
                  <span class="glyphicon glyphicon-flash"></span> <span translate="创建一条加班记录">Create a new User</span>
              </button>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th translate="姓名">createdBy</th>
                <th translate="创建时间">createdDate</th>
                <th translate="加班开始时间">startDate</th>
                <th translate="加班结束时间">endDate</th>
                <th translate="加班时长(H)">timeLength</th>
                <th translate="审批状态">status</th>
                <th translate="说明">remark</th>
                <th has-authority="ROLE_ADMIN" translate="审批"></th>
                <th has-authority="ROLE_USER" translate="操作"></th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in takeVacationDetails track by x.id">
                <td><{{x.id}}</a></td>
                <td>{{x.createdBy}}</td>
                <td>{{x.createdDate | date:'dd/MM/yy HH:mm'}}</td>
               
                <td>{{x.startDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{x.endDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{x.timeLength}}</td>
                <td>{{x.status}}</td>
                <td>{{x.remark}}</td>
                <td has-authority="ROLE_ADMIN">
                    <button type="submit" ng-click="pass({'id':x.id,'status':1})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open">通过</span>
                    </button>
                    <button type="submit" ui-sref="oa-takeVacationDetail.update({id:x.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil">不通过</span>
                    </button>
                </td>
                
                <td  has-authority="ROLE_USER">
                    <button type="submit"
                            ui-sref="oa-takeVacationDetail-detail({id:x.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="oa-takeVacationDetail.edit({id:x.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="oa-takeVacationDetail.delete({id:x.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
    
</div>
